{% extends 'base.html' %} {% block content %}


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="box">
        <h3 class="text-white mx-auto">Name</h3>
        <form class="was-validated">
          <input
          class="form-control"
          type="text"
          placeholder="Enter name"
          name="fname"
          id="input"
          required
        /><br>
        </form>
        
          <img src="{{ url_for('video_feed') }}" width="100%" />

          <button class="loginBtn py-10" onclick="start()" type="button">
            Capture
          </button>
          <button class="loginBtn py-10" onclick="train()" type="button">
            Train
          </button>

          <h1>{{message}}</h1>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>
  let count = 1;

  function start() {
    myFunction(count);
    count += 1;
  }

  function myFunction(i) {
    var name = document.getElementById("input").value;
    $.post("/takeimage", {
      name: name,
      count: i,
    });
  }

  function train() {
    $.post("/train_model", {});
  }
</script>

{% endblock %}
