{% extends 'base.html' %} {% block content %}
<style>
  .collapse_button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: white;
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .collapse_button::after {
      content: '\25be';
      float: right;
      transform: scale(1.5);
  }

  .collapse_button--active{background: #555555;}
  .collapse_button--active::after{content: '\25b4';}

  .collapse_content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
    text-align: left;
    color: black;
    padding: 0 15px;
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
</style>
<div class="container" style="padding: 1.5rem;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="box">
        <h3 class="text-white mx-auto">Name</h3>
        <form class="was-validated">
          <input
            class="form-control"
            type="text"
            placeholder="Enter name"
            name="fname"
            id="input"
            required
          /><br />
        </form>

        <div class="accordion">
          <button type="button" class="collapse_button">Register Instruction</button>
          <div class="collapse_content">
            <p>
              Step 1: กรอกชื่อในช่องฟอร์มให้เป็นสีเขียว<br>
              Step 2: หันหน้าตรงกลางหน้าจอ จากนั้น กดปุ่ม <strong>"Capture"</strong><br>
              Step 3: หันหน้าไปทางซ้าย จากนั้น กดปุ่ม <strong>"Capture"</strong><br>
              Step 4: หันหน้าไปทางขวา จากนั้น กดปุ่ม <strong>"Capture"</strong><br>
              Step 5: นำบัตรนักเรียน/นักศึกษามาไว้ตรงกลางจอ จากนั้น กดปุ่ม <strong>"Capture"</strong><br>
              Step 6: กดปุ่ม <strong>"Train"</strong>
            </p>
          </div>
        </div>
        <br>
        <img src="{{ url_for('video_feed') }}" width="100%" />

        <button class="loginBtn py-10" onclick="start()" type="button">
          Capture
        </button>
        <button class="loginBtn py-10" onclick="train()" type="button">
          Train
        </button>

        <h1>{{message}}</h1>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>
  let count = 1;

  function start() {
    myFunction(count);
    count += 1;
  }

  function myFunction(i) {
    var name = document.getElementById("input").value;
    $.post("/takeimage", {
      name: name,
      count: i,
    });
  }

  function train() {
    $.post("/train_model", {});
  }

  document.querySelectorAll('.collapse_button').forEach(button=> {
    button.addEventListener('click', () => {
      const accordionContent = button.nextElementSibling;

      button.classList.toggle('collapse_button--active');

      if(button.classList.contains('collapse_button--active')) {
        accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
      } else {
        accordionContent.style.maxHeight = 0;
      }
    })
  })
</script>

{% endblock %}
