{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="header">
        <h1>Registration</h1>
    </div>  

</div>

<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  placeholder="Enter name">
    </div>
    <span type="submit" class="btn btn-outline-primary" onclick="test()">Submit</span>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</div>

{% endblock %}


